.search-form {
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: rgb(21, 77, 218);}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    margin: 10px;
}
.item-description {
    margin-right: 2px;
}

.load-more {
    display: block;
    margin: 30px auto;
}

.is-hidden {
    opacity: 0;
}